@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #0FC2C0, #008F8C);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #001414 ;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #77f5f5 ;
    text-align: center;
    text-shadow: 1px 1px 0px #5bbbbb ;

}

p {
    text-align: justify;
    color: black; 
}

h2 {
    color: rgb(2, 96, 109);
}
